<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-button (click)="openCamera()" expand="block">
      Câmera
    </ion-button>

    <ion-button (click)="openGallery()" expand="block">
      Galeria
    </ion-button>

    <ion-button (click)="getGeolocation()" expand="block">
      Geolocalização
    </ion-button>

    <img src="{{myPhoto}}">
    <h4>{{ myPosition }}</h4>

  </div>
</ion-content>
